## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [40]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [41]:
# Your code here
sample_list_1 = random.sample(range(0,100,1),80)
print(sample_list_1)

[15, 20, 73, 87, 42, 8, 50, 41, 28, 3, 56, 7, 6, 62, 65, 11, 88, 51, 74, 63, 77, 5, 43, 95, 91, 72, 71, 64, 24, 92, 13, 4, 75, 33, 84, 9, 1, 21, 0, 93, 68, 54, 96, 98, 79, 70, 58, 39, 2, 25, 85, 45, 94, 55, 37, 82, 26, 59, 52, 36, 47, 89, 27, 38, 83, 40, 57, 80, 14, 76, 53, 49, 19, 10, 90, 81, 48, 66, 17, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set1 = sample_list_1
print(set1)
print(len(set1))
#yes, the set has still the same legth because there are no duplicates in sample_list_1

[15, 20, 73, 87, 42, 8, 50, 41, 28, 3, 56, 7, 6, 62, 65, 11, 88, 51, 74, 63, 77, 5, 43, 95, 91, 72, 71, 64, 24, 92, 13, 4, 75, 33, 84, 9, 1, 21, 0, 93, 68, 54, 96, 98, 79, 70, 58, 39, 2, 25, 85, 45, 94, 55, 37, 82, 26, 59, 52, 36, 47, 89, 27, 38, 83, 40, 57, 80, 14, 76, 53, 49, 19, 10, 90, 81, 48, 66, 17, 69]
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
# Your code here
#pip3 install numpy

#import numpy as np

sample_list_2 = []


for i in range(80):
    sample_list_2.append(random.choice(range(100)))
    #np.random.choice(100, 80, replace=True)
print(sample_list_2)

[97, 46, 2, 58, 78, 85, 70, 55, 82, 70, 78, 7, 26, 12, 23, 12, 49, 1, 58, 36, 47, 89, 18, 67, 30, 18, 64, 35, 35, 85, 79, 44, 91, 99, 79, 40, 50, 5, 84, 67, 9, 28, 55, 93, 39, 64, 23, 79, 85, 83, 62, 1, 74, 8, 2, 69, 66, 12, 32, 43, 33, 18, 62, 83, 66, 97, 74, 91, 11, 72, 9, 19, 96, 82, 86, 42, 18, 78, 8, 0]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))
#No, the length of the set is not 80 anymore because a set does not allow duplicates

{0, 1, 2, 5, 7, 8, 9, 11, 12, 18, 19, 23, 26, 28, 30, 32, 33, 35, 36, 39, 40, 42, 43, 44, 46, 47, 49, 50, 55, 58, 62, 64, 66, 67, 69, 70, 72, 74, 78, 79, 82, 83, 84, 85, 86, 89, 91, 93, 96, 97, 99}
51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
# Your code here
set3 = set()

for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

{3, 4, 6, 10, 13, 14, 15, 17, 20, 21, 24, 25, 27, 37, 38, 41, 45, 48, 51, 52, 53, 54, 56, 57, 59, 63, 65, 68, 71, 73, 75, 76, 77, 80, 81, 87, 88, 90, 92, 94, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [52]:
# Your code here
set4 = set()

for i in set2:
    if i not in set1:
        set4.add(i)
print(set4)

{32, 97, 35, 67, 99, 12, 44, 46, 78, 18, 86, 23, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
# Your code here
set5 = set()

for i in set2:
    if i in set1:
        set5.add(i)
print(set5)

{0, 1, 2, 5, 7, 8, 9, 11, 19, 26, 28, 33, 36, 39, 40, 42, 43, 47, 49, 50, 55, 58, 62, 64, 66, 69, 70, 72, 74, 79, 82, 83, 84, 85, 89, 91, 93, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#np.corrcoef(dat(len(set1)), dat(len(set2))

SyntaxError: unexpected EOF while parsing (<ipython-input-61-b667c47861c2>, line 10)

#### Create an empty set called `set6`.

In [55]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [63]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 24, 25, 26, 27, 28, 33, 36, 37, 38, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here